.jumbotron-fluid{
    height: 100em ;
    background-size: cover;
    

}

.homeJumbo{
    background-image: url(images/buildings.jpg);

    
}

.investingJumbo{
    background-image: url(images/investingjumbo.jpg);
    height: 33em;

}

.creditJumbo{
    background-image: url(images/creditjumbo.jpg);
    height: 33em;

}

.loansJumbo{
    background-image: url(images/loansjumbo.jpg);
    height: 33em;

}

div.nav{
    height:3em;
    background-color: black;
    align-items: center;
   justify-content: left;

   position: fixed;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }

  li{
    display: inline;
    padding-left: 2em;
  }

  div ul li{
      display: inline-block;
  }

  div.nav ul li a{
      color:white;
  }

  #overlay {
    

    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */

    background-color: rgba(0, 0, 0, .6); /* Black background with opacity */
    /*z-index: 2; Specify a stack order in case you're using a different order for other elements */

   
  }

  #overlaytext{
    position: absolute;
    top: 33%;
    left: 50%;
    font-size: 50px;
    color: white;
   transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

    text-align: center;
    
  }

  #overlaytext a{
      background-color: black;
      color: white;
      border-radius:4px;

      height: auto;
      width: auto;

      border: none;

      font-size: 40%;

      padding: 7px 20px;

      text-decoration: none;
      
  }

  #overlaytext a:hover{ 
    border: 1px solid white;
  }

  #overlaytext h1{
      font-size: 1.1em;

  }


  footer{
      padding:20px;
      background-color: black;
  }




/**
 * Let's introduce bigger screen
 */


@media (max-width: 767px) {
#overlaytext{
    font-size: 35px;
    width: 80%;
    
    
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay{
    
}

}